@import '../../../styles/lib/var';

.infoSection{
    width: 20%;
    margin-top: 1.5em;
    margin-left: 1%;
    border-radius: 0.1em;
    background-color: white;
    height: calc(100vh - 1.5em);
    box-shadow: 2px 2px 3px -2px;

    img {        
        width: 55%;
        margin-top: 1.5em;
        margin-right: 0.5em;
    }

    h2{
        font-weight: bold;
        font-size: 1.25em;
        margin-top: 1em;
        color: $fontPrimaryColor;
    }
}